.register-container {
  width: 300px;
  margin: 50px auto;
}

input, select {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 8px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

small {
  color: red;
}

.message {
  margin-top: 10px;
  color: green;
}
