<h2>Welcome to Home Page</h2>

<!-- First Dropdown: Users -->
<select [(ngModel)]="selectedUserId" (change)="onUserChange()">
  <option value="">Select User</option>
  <option *ngFor="let user of users" [value]="user.id">
    {{ user.name }}
  </option>
</select>

<br><br>

<!-- Second Dropdown: Posts -->
<select [(ngModel)]="selectedPostId" (change)="onPostChange()" [disabled]="!selectedUserId">
  <option value="">Select Post</option>
  <option *ngFor="let post of posts" [value]="post.id">
    {{ post.title }}
  </option>
</select>

<br><br>

<!-- Third Data: Comments -->
<div *ngIf="comments.length > 0">
  <h3>Comments:</h3>
  <ul>
    <li *ngFor="let comment of comments">
      <strong>{{ comment.name }}</strong><br>
      {{ comment.body }}
    </li>
  </ul>
</div>

<app-search></app-search>